
{% extends "base_admin.html.twig" %}

{% block title %}Admin{% endblock %}

{% block body %}
<h1 >Contact</h1>
<div class="container">
{{ form_start(contactForm) }}
{{ form_row(contactForm) }}
</div>
{% endblock %}