{% extends "base_admin.html.twig" %}

{% block title %}Footer{% endblock %}

{% block body %}
<h1 >Footer</h1>
<div class="container">
{{ form_start(footerForm) }}
{{ form_row(footerForm) }}
</div>
<div>
    <button>Envoyer</button>
</div>
{% endblock %}